.image-uploader .uploaded-image {
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
  border-radius: 50%; /* 假设是头像，保持圆形 */
}
.image-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px dashed #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  line-height: 100px;
}
.image-uploader .el-upload {
  border: 1px dashed var(--el-border-color-dark);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.image-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}