// 主题色
$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

// 若依风格侧边栏颜色
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 220px;

// 边框圆角
$border-radius-base: 4px;
$border-radius-small: 2px;
$border-radius-circle: 50%;

// 字体大小
$font-size-base: 14px;
$font-size-small: 13px;
$font-size-large: 16px;

// 间距
$spacing-base: 20px;
$spacing-small: 10px;
$spacing-large: 30px;